body{min-width:300px;}
/* nav:not(.mm-menu){display: none;} */
#header-wrap {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    min-height: 121px;
    background-color: rgba(34,38,38,0.7);
}
#header-wrap.no-banner{
    position: static !important;
}
#header-wrap .logo{
    margin-top:0 !important;
    padding-top:25px;
}
#header-wrap .logo-text a {
    padding:0;
    overflow: visible;
    word-wrap: break-word;
    display: block;
    text-align: left;
    font-size: 30px;
    word-break: break-all;
}
#header-wrap .nav-block ul li ul {
    display: none;
    position: absolute;
    top: 88px;
    left: 0px;
    width: 216px;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    padding-left: 0;
}
.neverBlock .right {
    width: 49.1%;
    height: 338px;
    padding: 0px 67px;
    display: table;
    text-align: center;
    float: right;
    background: #f2f1ee url('../images/never-bg.png') no-repeat center center;
}
.testimonailBlock .testiSliderBox .flex-direction-nav .flex-nav-prev a,
.momentsBlock .momentSlider .flex-direction-nav .flex-nav-prev a,
.testimonailBlock .testiSliderBox .flex-direction-nav .flex-nav-next a,
.momentsBlock .momentSlider .flex-direction-nav .flex-nav-next a {
    width: 44px;
    height: 77px;
    display: block;
    text-indent: -9999px;
    background-position: 0 0;
}
.testimonailBlock .testiSliderBox .flex-direction-nav .flex-nav-prev a,
.momentsBlock .momentSlider .flex-direction-nav .flex-nav-prev a {
    background: url('../images/prev.png') no-repeat;
}
.testimonailBlock .testiSliderBox .flex-direction-nav .flex-nav-next a,
.momentsBlock .momentSlider .flex-direction-nav .flex-nav-next a {
    background: url('../images/next.png') no-repeat;
}
.titleBlock {
    text-align: center;
    padding-top: 67px;
    margin-bottom: 63px;
    padding-bottom: 66px;
    position: relative;
}
.titleBlock:after {
    content: "";
    width: 149px;
    height: 2px;
    background: rgb(67,75,82);
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
}
.titleBlock .centerBox {
    padding-left: 63px;
    padding-right: 63px;
}
.contactBlock .contactform li .submit,
input[type=button],
input[type=submit],
input[type=reset],
button {
    cursor: pointer;
    float: right;
    position: relative;
    border: none;
    border: solid 1px #afa08d;
    font-weight: 400;
    color: #fff;
    padding: 4px 9px;
    font-size: 18px;
    line-height: 1.2;
    background: #afa08d;
    font-family: 'Raleway';
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.contactBlock .contactform li .submit:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
    border: solid 1px #afa08d;
    color: #afa08d;
    background-color: rgb(235,228,219);
}
.testimonailBlock {
    margin-bottom: 140px;
    margin-top: 200px;
    background: url('../images/hd-heisengard-mountain-river-2.png') no-repeat;
    min-height: 338px;
    background-size: cove;
    background-position: center center;
}

.header,
.content,
.footer {
    text-align: center;
}
.header {
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;
}
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}
.header a.micon {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 27;
    left: 3px;
}
.content {
    padding: 150px 50px 50px 50px;
}
#section{position:relative;width:100%;min-height:100%; z-index:10; margin-left:0;transition: all 0.3s ease 0s; background-color:#fff;}
#section.shifted {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: block;
    margin-left: 250px !important;
    transition: all 0.3s ease 0s;
    width: 100%;
}
#sticky_menu_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.sticky_menu_header,
.sticky_menu_collapse {
    position: relative;
    width: 250px;
    padding: 20px;
    background-color: rgba(34, 38, 38, .7);
    display: none;
}
.sticky_menu_collapse {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
    margin-top: 30px;
}
.sticky_menu_collapse i {
    display: block;
    height: 42px;
    width: 42px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    opacity: 0.3;
    background-size: 27px;
    margin-left: 7px;
    background-position: center center;
}
.sticky_menu_logo a {
    color: #fff;
}
#sticky_menu {
    position: relative;
    left: 0;
    top: 0;
    width: 250px;
    padding: 0;
    transition: all 0.3s ease 0s;
    z-index: 1;
}
#sticky_menu li {
    list-style: none;
    position: relative;
}
#sticky_menu li > a {
    display: block;
    padding: 12px 20px;
    line-height: 1;
    font-size: 18px;
}
#sticky_menu li.menu-item-has-children > a{
    padding-right:54px !important;
    word-break: break-all;
}
#sticky_menu li.current_page_item > a {
    background-color: #ccc;
}
#sticky_menu li > i {
    position: absolute;
    height: 42px;
    width: 43px;
    background-color: inherit;
    top: 0;
    right: 0;
    border: 1px solid #aaa;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    background-size: 27px;
}
#sticky_menu li.expanded > i,
#sticky_menu li.current_page_ancestor > i {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}
#sticky_menu .sub-menu {
    padding: 0;
    display: none;
    box-shadow: 0 0 9px #ddd inset;
    -webkit-box-shadow: 0 0 9px #ddd inset;
}
#sticky_menu .sub-menu li>a {
    padding: 12px 12px 12px 40px;
}
#sticky_menu li.current-menu-ancestor .sub-menu {
    display: block;
}
#sticky_menu li > a:hover,
#sticky_menu li.current-menu-ancestor > a {
    background-color: rgba(0, 0, 0, 0.05);
}
.mobile-only {
    display: none;
}
.vcfx {
    clear: both;
}
.micon{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC) center center no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 37px;
    left: 23px;
    background-color: transparent
}
.icelandBlock h1 {
    color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    img {
        max-width: 100%;
        height: auto;
    }
    .centerBox {
        width: auto;
        padding: 0 10px;
    }
    .tripTypeBox li.head span.trip {
        font-size: 16px;
        color: #000000;
        font-weight: 700;
    }
    .tripTypeBox li span {
        float: left;
        display: block;
        font-size: 16px;
        color: #000000;
        font-weight: 400;
    }
    .tripTypeBox li span.trip {
        width: 135px;
        font-size: 14px;
        color: #000000;
        font-weight: 700;
    }
    .tripTypeBox li span.group {
        width: 110px;
    }
    .tripTypeBox li span.price {
        width: 114px;
    }
    .tripTypeBox li span.breakfast {
        width: 110px;
    }
    .tripTypeBox li span.flight {
        width: 110px;
    }
    .tripTypeBox li span.guid {
        width: 85px;
    }
    .tripTypeBox li span.car {
        width: 43px;
    }
    .contactBlock .textBox {
        width: 40%;
    }
    .contactBlock .contactform {
        width: 50%;
    }
    .neverBlock .left {
        width: 47%;
        height: 290px;
    }
    /*.neverBlock .left img{top: -50% !important;left: -110% !important;}*/
    .neverBlock .right {
        width: 46%;
        height: 290px;
        padding: 0 27px;
    }
    .serviceBlock ul li {
        margin-right: 43px;
    }
    .travelBlock .one_third {
        margin-left: 7px;
        margin-right: 7px;
    }
}
@media only screen and (max-width:910px){
    .aboutBlock.travelBlock .one-column, .aboutBlock .one-column{
        float: none;
        width: 100% !important;
        margin-bottom: 20px;
        padding: 0 !important;
    }
    .aboutBlock.travelBlock .one-column > img, .aboutBlock .one-column > img{
        display: block;
        float: none;
        margin:0 auto;
    }
    .aboutBlock .one-column.four.last .one-spacer{display:none !important;}
    .aboutBlock .one-column.four.last .one-spacer > img{display:inline-block !important;}
}
@media only screen and (max-width: 840px) {
	.mobile-only{display:block;}
	.desktop-only{display:none;}
    #header-wrap .logo {
        width: auto;
        float: none;
        text-align: center;
        max-width: 100%;
        width:auto;
    }
    #header-wrap .logo.logo-text{
        padding:0 60px;
    }
    #header-wrap .logo img {
        margin: 0 auto;
    }
    .mm-panels a {
        text-decoration: none;
    }
    .mm-listview > li:not(.mm-divider)::after {
        left: 0px;
    }
    .mm-menu .mm-navbar > *,
    .mm-menu .mm-navbar a {
        color: #000;
    }
    #banner-wrap .banner .bannerText {
        padding-top: 170px;
        text-align: center;
        max-width: none;
    }
    .momentText {
        margin-left: 0;
        margin-right: 0
    }
    .icelandBlock .text h1,
    .momentsBlock .momentText h1 {
        line-height: 1.2;
        margin-bottom: 1em;
    }
    .home #banner-wrap .banner {
        height: 470px;
    }
    .header.mobileview {
        position: absolute;
        width: 100%;
        z-index: 10;
        height: auto;
        padding: 25px 50px;
        background-color: rgba(34,38,38,0.7);
    }
    .header.mobileview .logo {
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    .header.mobileview .logo img {
        margin: 0 auto;
        height: auto;
    }
    #menu-mainmenu li {
        color: #000;
    }
    .mobileview {
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .centerBox {
        width: auto;
        padding: 0 10px;
    }
    .tripTypeBox {
        overflow-x: auto;
    }
    .tripTypeBox .centerBox {
        width: 940px;
        padding: 0px;
    }
    .one_half {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
   
    .serviceBlock ul li {
        width: auto;
        float: none;
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
    }
    .serviceBlock ul li img {
        margin: 0 auto;
    }
    .icelandBlock .text h1,
    .momentsBlock .momentText h1 {
        font-size: 30px;
    }
    .momentsBlock .momentText p,
    .neverBlock .right p {
        font-size: 20px;
    }
    .neverBlock .left p {
        font-size: 30px;
        display: block;
        padding: 0 1em;
    }
    .icelandBlock {
        padding: 60px 0px;
    }
    .serviceBlock {
        padding: 60px 0px;
    }
    .momentsBlock .momentSlider {
        margin-bottom: 60px;
    }
    #footer-wrap {
        margin-top: 60px;
    }
    .titleBlock {
        padding: 40px 0px;
        margin-bottom: 40px;
    }
    h1 {
        font-size: 30px!important;
    }
    .titleBlock p {
        font-size: 20px;
    }
    .travelBlock .one_third {
        width: 100%;
        margin: 0;
    }
    .testimonailBlock {
        margin-top: 170px;
        margin-bottom: 60px;
        background-size: cover;
        background-position: center center;
    }
    .testimonailBlock .testiSliderBox {
        left: 0px;
        padding-bottom: 2em;
    }
    .bottomTextBlock .spaceBar {
        padding-top: 60px!important;
    }
    .travelBox ul li a {
        font-size: 1em;
        line-height: 1.2;
    }
    .travelBox ul li span {
        display: block;
        float: none;
    }
    #footer-wrap ul {
        text-align: center;
        float: none;
    }
    #footer-wrap ul li {
        display: inline-block;
        float: none;
        margin: 0 10px;
    }
    .contactBlock .textBox {
        width: auto;
        float: none;
    }
    .contactBlock .contactform {
        width: auto;
        float: none;
    }
    .pageright,
    .pageleft {
        float: none;
        width: 100%;
    }
    .pageleft .image img {
        margin: 0 auto;
    }
    #banner-wrap .innerbanner {
        height: 10em;
    }
    .titleBlock .centerBox {
        padding-left: 15px;
        padding-right: 15px;
    }
    .testimonailBlock .testiSliderBox img {
        min-width: 10em;
        min-height: 10em;
        width: 10em;
        height: 10em;
    }
    .neverBlock .left img {
        top: 0;
        left: 0;
        -webkit-transform: initial;
        transform: initial;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
     .neverBlock .left {
        display: block;
        height: inherit;
        float: none;
        width: auto;
        margin-bottom: 20px;
        max-height: 80px;
    }
    .neverBlock .right {
        float: none;
        width: auto;
        padding: 20px;
        height: inherit;
    }
}
@media only screen and (max-width: 479px) {
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
        width: 100%;
        margin: 0 0 1em 0
    }
    .bloxBox ul li .image {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
    .bloxBox ul li .text {
        float: none;
        width: auto;
    }
    #banner-wrap .banner .bannerText h2 {
        font-size: 30px;
    }
     .neverBlock .left {
        display: block;
        height: inherit;
        float: none;
        width: auto;
        margin-bottom: 20px;
         max-height: 80px;
    }
    .neverBlock .right {
        float: none;
        width: auto;
        padding: 20px;
        height: inherit;
    }
}
@media only screen and (max-width: 480px) {
    #header-wrap {
        min-height: 108px;
        height:inherit;
    }
    #header-wrap .logo{margin-bottom:0;padding-bottom: 25px;}
    #header-wrap .logo img {
        height: auto;
        max-height: 64px;
        width: 61%;
        max-width: 330px;
    }
    .micon {
        top: 33px;
        background-size: 68%;
        width: 36px;
        height: 32px;
    }
    .neverBlock .left {
        max-height:130px;
    }
    .neverBlock .left img{    left: -310px;
        top: -160px;}
}
@media only screen and (max-width: 320px) {
    #header-wrap {
        min-height: 90px;
    }
    .micon {
        top: 27px;
        left: 18px;
        background-size: 68%;
    }
    .titleBlock.top-pad,
    .top-pad {
        padding-top: 110px;
    }
    .neverBlock .left {
        max-height:130px;
    }
    .neverBlock .left img{left: -170px;}
}