.redux-container-link_color {
    .linkColor {
        display: inline-block;
        padding-right: 30px;
        padding-bottom: 7px;

	strong{
		display: inline-block;
		min-width: 70px;
	}

    }
}
